@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin: 75px 0;
    height: 100%;
    width: 100%;
    background-color: #38404B;
}

header {
    height: 29%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 87px;
    list-style-type: none;
}

header nav ul li {}

header nav ul li .icon8icons {
    width: 20px;
    height: 20px;
}

header nav ul .mobileTitle {
    opacity: 0;
    width: 20px;
    height: 20px;
}

header nav ul .addNewTaskInput {}

header nav ul .addNewTaskInput form {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;

    background-color: #38404B;
    color: #94ADCFB3;

    height: 3.69rem;
    width: 36.125rem;

    font-size: 1rem;
    border-radius: 1rem;
    text-align: start;

    padding-left: 2.35rem;
    border: none;

    box-shadow: inset -3px -3px 8px 0px rgba(46, 53, 62, 0.2),
        inset 3px 3px 8px 0px rgba(46, 53, 62, 0.9);

}

header nav ul .addNewTaskInput form input {
    color: #94ADCFB3;
    flex-grow: 2;
    background: none;
    border: none;
}

header nav ul .addNewTaskInput form input:focus {
    outline: none;
}

header nav ul .addNewTaskInput form button {
    height: 3.69rem;
    width: 3.031rem;
    margin-right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(82%) sepia(3%) saturate(4339%) hue-rotate(185deg) brightness(84%) contrast(92%);
}


.addNewTaskInput form input::placeholder {
    color: #94ADCFB3;
    font-size: 1rem;
}

.addNewTaskInput form input:-ms-input-placeholder {
    color: #94ADCFB3;
}

.addNewTaskInput form input::-ms-input-placeholder {
    color: #94ADCFB3;
}

header nav ul .burguerMenu {
    filter: invert(82%) sepia(3%) saturate(4339%) hue-rotate(185deg) brightness(84%) contrast(92%);
    height: 1.8125rem;
    width: 2.0rem;
    display: flex;
    justify-content: flex-end;
}
header nav ul .burguerMenu .line1 {
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 0px;
    width: 23px;
    height: 5px;
}
header nav ul .burguerMenu .line2 {
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 12px;
    width: 40px;
    height: 5px;
}
header nav ul .burguerMenu .line3 {
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 24px;
    width: 23px;
    height: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #94ADCFB3;

    gap: 52px;
    height: fit-content;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

main section h1 {
    font-size: 1.75rem;
    font-weight: 400;
}

main section nav {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

main section ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 3.25rem;

}

main section ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6875rem;

    background-color: #38404B;

    height: 3.6875rem;
    width: 28.0625rem;

    border-radius: 1rem;
    text-align: start;

    padding-left: 2.35rem;
    border: none;

    box-shadow:
        -5px -5px 10px 0px #404A56E6,
        5px 5px 10px 0px #303640E6;
}

main section ul li input {}

main section ul li p {
    font-size: 1.125rem;
    font-weight: 500;
}

main .onGoingTasks {}

main .completedTasksSection nav {
    align-items: flex-start;
}

main .completedTasksSection nav h1 {
    margin-bottom: 3.25rem;
}

main .completedTasksSection nav ul li {
    box-shadow:
        inset 5px 5px 13px 0px #303640E6,
        inset -5px -5px 13px 0px #404A56E6;
}

footer {
    display: none;
}

.addButton {
    width: 60px;
    height: 60px;


    bottom: 64px;
    right: 31px;

    position: fixed;

    background: #38404B;
    box-shadow: -1px 1px 2px rgba(22, 26, 30, 0.2), 1px -1px 2px rgba(22, 26, 30, 0.2), -1px -1px 2px rgba(90, 102, 120, 0.9), 1px 1px 3px rgba(22, 26, 30, 0.9), inset 1px 1px 2px rgba(90, 102, 120, 0.3), inset -1px -1px 2px rgba(22, 26, 30, 0.5);
    border-radius: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.cross1 {
    width: 24px;
    height: 2.8px;

    position: absolute;
    background: #94ADCF;
    border-radius: 40px;
    transform: rotate(-90deg);
}

.cross2 {
    width: 24px;
    height: 2.8px;
    position: absolute;

    background: #94ADCF;
    border-radius: 40px;
    transform: rotate(0deg);
}

@media (max-width: 768px) {
    header nav ul .addNewTaskInput form {
        width: 25.125rem;
    }
}

@media (max-width: 425px) {
    header {
        width: 80%;
    }

    header nav ul {
        margin: 0px;
    }

    header nav ul .mobileTitle {
        color: #94ADCF;
        font-size: 1.5rem;
        font-weight: 700;
        width: 104px;
        opacity: 1;
        height: 28px;
    }


    header nav ul .addNewTaskInput form {
        display: none;
    }

    main section ul {
        justify-content: center;
    }

    main section nav ul {
        gap: 1.9375rem;
    }

    main section nav ul li {
        width: 100%;
        height: fit-content;
        padding: 12.21px;
    }


    main .completedTasksSection nav {
        align-items: center;
    }

    main .completedTasksSection nav h1 {
        width: 100%;
        text-align: start;
    }

    main .completedTasksSection nav ul {
        width: 100%;
    }
    footer {
        display: block;
    }
    .addButton {
        display: flex;
    }

}